.header-class {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #2f2f2f;
    padding: 0 0 0 10px;
    border-bottom: 1px solid yellow;
    z-index: 600;
}

.header-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.header-logo {
    position: relative;
    float: left;
    height: 100%;
    width: auto;
    line-height: 100%;
}

.header-help {
    position: relative;
    float: right;
    padding:0 10px 0 10px;
    height: 100%;
    width: auto;
    line-height: 100%;
    color: rgba(255,255,255,.7);
    transition: all .2s;
    -webkit-transition: all .2s;
}

.header-right {
    position: relative;
    float: right;
    padding:0 20px 0 20px;
    height: 100%;
    width: auto;
    line-height: 100%;
    border-right: 1px solid grey;
    color: rgba(255,255,255,.7);
    transition: all .2s;
    -webkit-transition: all .2s;
}

.header-container a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
}

.header-container .header-logo a {
    display: block;
    text-decoration: none;
    color: #009688;
    text-align: center;
    line-height: 60px;
    padding-right: 5px;
    font-size: 22px;
}

.header-container .header-logo a:hover {
    color: green;
}

.header-more {
    display: block;
    content:'';
    width: 0;
    height: 0;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -3px;
    border-width: 6px;
    border-top-style: solid;
    border-top-color: #fff;
    border-top-color: rgba(255,255,255,.7);
}

.header-right:hover,.header-help:hover {
    color: white !important;
    border-bottom: 3px solid yellow !important;
}

.menu-more {
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    line-height: 36px;
    margin: 0;
    box-shadow: -0.6px 1.9px 9.8px 0.2px rgba(0,0,0,.3);
    border: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 999;
    border-radius: 3px;
    white-space: nowrap;
}

.header-right .menu-more li {
    background-color: white;
    color: #2f2f2f;
    padding: 0 20px;
    text-align: center;
}

.header-right .menu-more li a {
    color: inherit;
    line-height: 30px;
}

.header-right .menu-more li:hover {
    color: white;
    background-color: #5FB878;
}
