.main-class {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0;
}

.side-menu {
    display: block;
    position: fixed;
    width: 270px;
    height: 100%;
    bottom: 0;
    padding-top: 60px;
    background-color: #2f2f2f;
    overflow-y: auto;
    overflow-x: scroll;
    z-index: 400;
    float: top;
}

.hidden-text {
    position: relative;
    height: 60px;
}

.container {
    position: relative;
    flex-grow: 1;
    padding: 10px;
    margin: 0;
    height: 100%;
    bottom: 0;
    left: 250px;
    background-color: grey;
    z-index: 500;
    color: black;
    overflow-y: scroll;
}

