<!DOCTYPE html>
<html lang="zh_CN">
<head>
    {% load staticfiles %}
    <!-- meta设置 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 网页图标 -->
    <link rel="icon" href="{% static 'media/icon/favicon.ico' %}">

    <!-- 网页标题 -->
    <title>AutoTest</title>

    <!-- CSS -->
    <link href="../static/css/autotest.css" rel="stylesheet"/>
</head>

<body>

<!-- 导航栏 -->
<div class="at-header">
    <div class="at-header-logo">
        <a href="#">AutoTest测试平台</a>
    </div>
    <div class="at-header-menu-end">
        <a href="#">注册</a>
    </div>
    <div class="at-header-menu-end at-header-menu-selected">
        <a href="#">登录</a>
    </div>
</div>

<!-- 主体部分 -->
<div class="at-main">
    <!-- 登录表单 -->
    <form class="at-login-form" lay-filter="regist">
        <div class="at-login-form-item">
            <div class="at-login-form-item-left">
                <lable>用户名</lable>
            </div>
            <div class="at-login-form-item-right">
                <input type="text" placeholder="请输入用户名"/>
            </div>
        </div>
        <div class="at-login-form-item">
            <div class="at-login-form-item-left">
                <lable>密　码</lable>
            </div>
            <div class="at-login-form-item-right">
                <input type="password" placeholder="请输入密码"/>
            </div>
        </div>
        <div class="at-login-form-item">
            <div class="at-login-form-item-left">
                <input type="button" value="登陆">
            </div>
            <div class="at-login-form-item-right">
                <input type="button" value="注册">
            </div>
        </div>
    </form>
</div>
<script src="../static/src/layui.js"></script>
<script src="../static/js/atLogin.js"></script>
</body>
</html>
